---
const { slug, cover, title, growthStage, date, description, id } = Astro.props;
import { Image } from "astro:assets";
import RelativeDate from "../layouts/RelativeDate.astro";
import GrowthIcon from "../layouts/GrowthIcon.astro";
---

<a href={`/${slug}`}>
	<div class="essay-card">
		{
			cover && (
				<div class="image-wrapper">
					<Image
						src={cover}
						alt={title}
						width={400}
						height={400}
						loading="eager"
						decoding="async"
					/>
				</div>
			)
		}
		<h3 transition:name={`title-${slug}`}>{title}</h3>
		<p class="description">{description}</p>
		<div class="metadata-container">
			{growthStage && <span>Essay</span>}
			{growthStage && <GrowthIcon size="15" growthStage={growthStage} />}
			<span>
				<RelativeDate postDate={date} />
			</span>
		</div>
	</div>
</a>

<style>
	.image-wrapper {
		position: relative;
		width: 100%;
		aspect-ratio: 1 / 1;
		overflow: hidden;
	}

	.image-wrapper img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform 0.3s ease-in-out;
		will-change: transform;
	}

	.metadata-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		display: inline-block;
		font-family: var(--font-sans);
		font-size: var(--font-size-xs);
		text-transform: capitalize;
		color: var(--flexoki-500);
		font-weight: 400;
		margin-top: 6px;
	}

	.metadata-container :global(svg) {
		margin: 0 var(--space-2xs);
	}

	.description {
		font-size: var(--font-size-xs);
		color: var(--flexoki-500);
		font-family: var(--font-sans);
		font-weight: 400;
		margin-top: 4px;
	}

	.essay-card {
		display: flex;
		flex-direction: column;
		border: 1px solid var(--flexoki-200);
		padding: var(--space-s);
		margin: 0 var(--space-2xs) var(--space-2xs) 0;
		border-radius: var(--border-radius-base);
		box-shadow: var(--box-shadow-sm);
		background: var(--flexoki-50);
		transition: all 0.3s ease-in-out;
		will-change: transform, box-shadow;
		color: var(--flexoki-800);
		cursor: pointer;
	}

	.essay-card img {
		width: 100%;
	}

	.essay-card h3 {
		transition: all 0.3s ease-in-out;
		font-family: var(--font-body);
		font-size: var(--font-size-base);
		font-weight: 400;
		line-height: var(--leading-snug);
		margin: var(--space-2xs) 0;
	}

	.essay-card:hover {
		box-shadow: var(--box-shadow-lg);
		transform: scale3d(1.02, 1.02, 1.02);
	}

	.essay-card:hover h3 {
		color: var(--flexoki-cyan-600);
	}
</style>
