---
const { slug, title, growthStage, date, id, description } = Astro.props;
import RelativeDate from "../layouts/RelativeDate.astro";
import GrowthIcon from "../layouts/GrowthIcon.astro";
---

<a href={`/${slug}`}>
	<div class="note-card">
		{growthStage && <GrowthIcon size="24" growthStage={growthStage} />}
		<div>
			<h3>{title}</h3>
			<p class="description">{description}</p>
			<div class="metadata-container">
				<span>Note</span>
				<svg width="4px" height="10px">
					<circle r="2" cx="2" cy="2" fill="var(--flexoki-400)"></circle>
				</svg>
				<RelativeDate postDate={date} />
			</div>
		</div>
	</div>
</a>

<style>
	.metadata-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin-left: var(--space-xs);
		margin-top: 4px;
		font-family: var(--font-sans);
		font-size: var(--font-size-xs);
		color: var(--flexoki-500);
		text-transform: capitalize;
		font-weight: 400;
	}

	.metadata-container svg {
		margin: 0 0.4rem;
	}

	.description {
		font-size: var(--font-size-xs);
		color: var(--flexoki-500);
		font-family: var(--font-sans);
		font-weight: 400;
		margin-left: var(--space-xs);
		margin-top: var(--space-2xs);
	}

	.note-card {
		display: flex;
		flex-direction: row;
		padding: var(--space-xs);
		margin: 0 var(--space-xs) var(--space-xs) 0;
		border-radius: var(--border-radius-base);
		border: 1px solid var(--flexoki-paper);
		transition: all 0.3s ease-in-out;
		will-change: transform, background-color, box-shadow;
		cursor: pointer;
	}

	.note-card h3 {
		color: var(--flexoki-800);
		transition: color 0.3s ease-in-out;
		will-change: transform;
		font-family: var(--font-body);
		font-size: var(--font-size-base);
		font-weight: 400;
		line-height: var(--leading-snug);
		margin-left: var(--space-xs);
	}

	.note-card svg {
		position: relative;
		top: 4px;
		flex-shrink: 0;
	}

	.note-card:hover {
		transform: scale3d(1.02, 1.02, 1.02);
		background: var(--color-light-cream);
		box-shadow: var(--box-shadow-sm);
		border: 1px solid var(--color-tinted-cream);
	}

	.note-card:hover h3 {
		color: var(--color-crimson);
	}
</style>
