---
const { title, slug, date, id, cover, conferences } = Astro.props;
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import RelativeDate from "../layouts/RelativeDate.astro";
---

<a href={`/${slug}`}>
	<div class="talk-card">
		{
			cover && (
				<div class="image-wrapper">
					<Image
						src={cover}
						alt={title}
						width={430}
						height={240}
						class="cover-image"
						loading="eager"
						decoding="async"
					/>
				</div>
			)
		}
		<div class="inner-text">
			<h3>{title}</h3>
			{
				conferences && (
					<div class="conferences-container">
						<p>
							<Icon name="heroicons:map-pin-20-solid" size={18} />
							{conferences[0].name}, {conferences[0].location}
							{conferences.length > 1 && (
								<span class="conf-count">+{conferences.length - 1}</span>
							)}
						</p>
					</div>
				)
			}
			<div class="metadata-container">
				<span>Talk</span>
				<svg width="4px" height="8px">
					<circle r="2" cx="2" cy="2" fill="var(--flexoki-400)"></circle>
				</svg>
				<RelativeDate postDate={date} />
			</div>
		</div>
	</div>
</a>

<style>
	.talk-card {
		display: flex;
		flex-direction: column;
		margin: 0 var(--space-2xs) var(--space-2xs) 0;
		border-radius: var(--border-radius-base);
		background: var(--color-light-cream);
		border: 1px solid var(--color-tinted-cream);
		transition: all 0.3s ease-in-out;
		will-change: transform, box-shadow;
		align-items: start;
		cursor: pointer;
		box-shadow: var(--box-shadow-sm);
	}

	.image-wrapper {
		width: 100%;
		aspect-ratio: 430/240;
		overflow: hidden;
	}

	.cover-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-top-left-radius: var(--border-radius-base);
		border-top-right-radius: var(--border-radius-base);
		transition: transform 0.3s ease-in-out;
		will-change: transform;
	}

	.inner-text {
		padding: var(--space-xs) var(--space-s);
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.conferences-container p {
		font-family: var(--font-sans);
		font-size: var(--font-size-xs);
		color: var(--flexoki-600);
		letter-spacing: 0.015rem;
		font-weight: 400;
	}

	.conferences-container svg {
		fill: var(--flexoki-400);
		margin-right: 0.3rem;
		position: relative;
		top: 2px;
	}

	.conf-count {
		padding: 0.2rem 0.5rem 0.25rem;
		background: var(--flexoki-100);
		margin-left: 0.5rem;
		border-radius: 1rem;
		color: var(--flexoki-600);
		font-size: calc(var(--font-size-xs) / 1.25);
	}

	.metadata-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		font-family: var(--font-sans);
		letter-spacing: 0.015rem;
		text-transform: capitalize;
		font-weight: 400;
		color: var(--flexoki-500);
		font-size: var(--font-size-xs);
	}

	.metadata-container svg {
		margin: 0 0.4rem;
	}

	h3 {
		color: var(--flexoki-800);
		font-family: var(--font-body);
		font-size: var(--font-size-base);
		font-weight: 400;
		line-height: var(--leading-snug);
		transition: color 0.3s ease-in-out;
		will-change: transform;
		margin-bottom: 0.5rem;
	}

	.talk-card:hover {
		transform: scale3d(1.01, 1.01, 1.01);
		background: var(--color-light-cream);
		box-shadow: var(--box-shadow-lg);
		border: 1px solid var(--color-tinted-cream);
	}

	.talk-card:hover h3 {
		color: var(--color-crimson);
	}
</style>
