---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Spacer from "../components/mdx/Spacer.astro";
import Title1 from "../components/mdx/typography/Title1.astro";
import SmallTitle2 from "../components/mdx/typography/SmallTitle2.astro";
import EssayCard from "../components/cards/EssayCard.astro";
import BookCard from "../components/cards/BookCard.astro";
import PatternCard from "../components/cards/PatternCard.astro";
import UnderlineHoverLink from "../components/mdx/UnderlineHoverLink.astro";
import GrowthIcon from "../components/layouts/GrowthIcon.astro";
import PageWrapper from "../components/layouts/PageWrapper.astro";

const projects = await getCollection(
	"projects",
	({ data }) => data.featured === true && !data.draft,
);
const notes = await getCollection("notes", ({ data }) => !data.draft);
const patterns = await getCollection("patterns", ({ data }) => !data.draft);
const books = await getCollection("books");

const sortedProjects = projects
	.slice(0, 4)
	.sort(
		(a, b) =>
			new Date(b.data.updated).getTime() - new Date(a.data.updated).getTime(),
	);

const sortedNotes = notes.sort(
	(a, b) =>
		new Date(b.data.updated).getTime() - new Date(a.data.updated).getTime(),
);

const sortedPatterns = patterns
	.slice(0, 8)
	.sort(
		(a, b) =>
			new Date(b.data.updated).getTime() - new Date(a.data.updated).getTime(),
	);
---

<Layout title="Tim Koval">
	<PageWrapper>
		<header class="page-header">
			<Title1 class="main-title">
				<b>Tim </b>
				explores edge computing, robotics and innovation.
			</Title1>
			<SmallTitle2>
				Edge Computing and Robotics Researcher and Engineer
				<br />
				Currently Core SDK Engineering at{" "}
				<b class="company-name">
					<UnderlineHoverLink href="https://www.linkedin.com/company/weareuney">
						Uney
					</UnderlineHoverLink>
				</b>
			</SmallTitle2>
		</header>

		<Spacer />

		<section>
			<a href="/garden">
				<h2 class="garden-title">The Garden</h2>
			</a>
			<div class="subheader">
				A digital garden is a dynamic space where I cultivate evolving notes, projects, and insights, fostering continuous growth and development{" "}
				<a href="/garden-history" class="readmore-link">
					Learn more
					<Icon name="heroicons:arrow-right" size={18} />
				</a>
			</div>
		</section>

		<section class="garden-section">
			<section class="essays-section">
				<a href="/projects" class="header-link">
					<h3 class="section-header">
						Innovations & Discoveries
						<Icon name="heroicons:arrow-right" size={18} />
					</h3>
				</a>
				<div class="subheader">
					A showcase of my latest technical creations and the fresh insights uncovered through my work in tech, highlighting hands-on projects and research advancements
				</div>
				<div class="essays-grid">
					{
						sortedProjects.map((project) => (
							<EssayCard
								id={project.id}
								slug={project.id}
								cover={project.data.cover}
								title={project.data.title}
								growthStage={project.data.growthStage}
								date={project.data.updated}
								description={project.data.description}
							/>
						))
					}
				</div>
			</section>

			<section style="grid-area: notes;">
				<a href="/notes" class="header-link">
					<h3 class="section-header">
					Exploration Notes
						<Icon name="heroicons:arrow-right" size={18} />
					</h3>
				</a>
				<div class="subheader">
					Informal, open-ended notes capturing my discoveries and ongoing learning as I delve into new concepts and ideas in tech, offering a raw look at my evolving understanding
				</div>
				{
					sortedNotes.slice(0, 12).map((note) => (
						<a href={`/${note.id}`}>
							<div class="index-note-card">
								{note.data.growthStage && (
									<div class="icon">
										<GrowthIcon
											growthStage={
												note.data.growthStage as
													| "seedling"
													| "budding"
													| "evergreen"
											}
										/>
									</div>
								)}
								<h3>{note.data.title}</h3>
							</div>
						</a>
					))
				}
			</section>

			<section class="patterns-section">
				<a href="/chronicles" class="header-link">
					<h3 class="section-header">
						Tech Life Chronicles
						<Icon name="heroicons:arrow-right" size={18} />
					</h3>
				</a>
				<div class="subheader">
					A space where I share stories and reflections from my life in tech, blending personal growth with my passion for innovation
				</div>
				<div class="patterns-grid">
					{
						sortedPatterns.map((pattern) => (
							<PatternCard
								slug={pattern.id}
								title={pattern.data.title}
								growthStage={pattern.data.growthStage}
								date={pattern.data.updated}
								description={pattern.data.description}
							/>
						))
					}
				</div>
			</section>

			<section class="library-section">
				<a href="/resources" class="header-link">
					<h3 class="section-header">
						Resources
						<Icon name="heroicons:arrow-right" size={18} />
					</h3>
				</a>
				<div class="subheader">
					A curated collection of papers, books, and articles that inspire my journey - hope they spark yours too!
				</div>
				<div class="books-grid">
					{
						books
							.slice(0, 8)
							.map((book) => (
								<BookCard
									small
									subtitle={book.data.subtitle}
									cover={book.data.cover}
									title={book.data.title}
									author={book.data.author}
									link={book.data.link}
								/>
							))
					}
				</div>
			</section>
		</section>
	</PageWrapper>
</Layout>

<style>
	.readmore-link {
		display: inline-flex;
		align-items: center;
		font-weight: 400;
		color: var(--flexoki-cyan-600);
	}

	.readmore-link [data-icon] {
		transition: all 0.3s ease-in-out;
		position: relative;
		top: 2px;
		margin-left: var(--space-3xs);
	}

	.readmore-link:hover {
		color: var(--flexoki-magenta-600);
		cursor: pointer;
	}

	.readmore-link:hover [data-icon] {
		margin-left: var(--space-2xs);
		color: var(--flexoki-150);
	}

	.index-note-card {
		display: flex;
		padding: var(--space-xs) 0 1.2rem;
		border-bottom: 1px solid var(--flexoki-200);
		transition: all 0.3s ease-in-out;
	}

	.index-note-card .icon {
		position: relative;
		top: 5px;
		flex-shrink: 0;
	}

	.index-note-card h3 {
		color: var(--flexoki-800);
		transition: all 0.3s ease-in-out;
		font-family: var(--font-body);
		font-size: var(--font-size-base);
		font-weight: 400;
		line-height: var(--leading-snug);
		margin-left: var(--space-xs);
		transition: all 0.3s ease-in-out;
	}

	.index-note-card:hover {
		border-bottom: 1px solid var(--flexoki-150);
		transform: scale3d(1.02, 1.02, 1.02);
	}

	.index-note-card:hover h3 {
		color: var(--flexoki-cyan-600);
	}

	.garden-title {
		font-size: var(--font-size-xl);
		font-family: var(--font-serif);
		color: var(--flexoki-800);
		font-weight: 400;
		line-height: var(--leading-snug);
		margin: var(--space-xs) 0 var(--space-2xs);
		transition: all 0.3s ease-in-out;
	}

	.garden-section {
		margin: var(--space-xl) 0 var(--space-s);
		display: grid;
		grid-gap: var(--space-xl);
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"essays essays notes"
			"patterns library library";
	}

	@media (max-width: 768px) {
		.garden-section {
			grid-gap: var(--space-s);
		}
	}

	@media (max-width: 640px) {
		.garden-section {
			grid-template-columns: 1fr;
			grid-gap: var(--space-l);
			grid-template-rows: auto;
			grid-template-areas: "essays" "notes" "patterns" "library";
		}
	}

	.section-header {
		font-family: var(--font-sans);
		font-size: var(--font-size-base);
		font-weight: 600;
		color: var(--flexoki-800);
		display: flex;
		align-items: center;
		margin-bottom: var(--space-3xs);
	}

	.section-header [data-icon] {
		transition: all 0.3s ease-in-out;
		position: relative;
		top: 2px;
		margin-left: var(--space-3xs);
	}

	.header-link:hover .section-header {
		color: var(--flexoki-magenta-600);
	}

	.header-link:hover .section-header [data-icon] {
		margin-left: var(--space-2xs);
		color: var(--flexoki-150);
	}

	.subheader {
		font-family: var(--font-sans);
		font-size: var(--font-size-base);
		font-weight: 300;
		color: var(--flexoki-800);
		margin-bottom: var(--space-m);
	}

	.page-header {
		display: flex;
		flex-direction: column;
		margin-top: var(--space-xl);
	}

	.main-title {
		margin-top: var(--space-m);
		margin-bottom: 0;
		max-width: 1100px;
	}

	.company-name {
		margin: 0 0.6rem 0 0.3rem;
	}

	.essays-section {
		grid-area: essays;
	}

	.patterns-section {
		grid-area: patterns;
	}

	.patterns-grid {
		margin-left: -1.4rem;
	}

	.library-section {
		grid-area: library;
	}

	.essays-grid,
	.books-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: var(--space-2xs);
	}

	.books-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		grid-gap: var(--space-2xs);
		margin: 0;
	}
</style>
