---
import Layout from "../layouts/Layout.astro";
import Title2 from "../components/mdx/typography/Title2.astro";
import PageWrapper from "../components/layouts/PageWrapper.astro";
import BookCard from "../components/cards/BookCard.astro";
import TitleWithCount from "../components/layouts/TitleWithCount.astro";
import { getCollection } from "astro:content";

const books = await getCollection("books");
---

<Layout title="Resources of Tim Koval">
	<PageWrapper>
		<header style="margin-bottom: var(--space-2xl);">
			<TitleWithCount posts={books}>
				Resources
				<!-- <div style="color: var(--color-gray-300); display: inline-block">|</div> -->
			</TitleWithCount>
			<Title2
				>A curated collection of papers, books, and articles that inspire my journey - hope they spark yours too!</Title2
			>
		</header>
		<section class="bookshelf-grid">
			{
				books.map((book) => (
					<BookCard
						subtitle={book.data.subtitle}
						link={book.data.link}
						title={book.data.title}
						author={book.data.author}
						cover={book.data.cover}
					/>
				))
			}
		</section>
	</PageWrapper>
</Layout>

<style>
	.styled-link {
		color: var(--color-gray-300);
		transition: all 0.4s ease-in-out;
		cursor: pointer;
	}
	.styled-link:hover {
		color: var(--color-bright-crimson);
	}

	.bookshelf-grid {
		display: grid;
		grid-gap: var(--space-s);
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	}
</style>
