---
interface Props {
  url: string;
  title: string;
  author?: string;
  image?: string;
}

const { url, title, author, image } = Astro.props;
---

<div class="link-card">
  {image && <img src={image} alt={title} />}
  <a href={url}>
    <h3>{title}</h3>
  </a>
  {author && <span>{author}</span>}
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .content p {
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    line-height: var(--leading-base);
    margin: var(--space-3xs) 0;
    color: var(--flexoki-600);
  }

  .link-card {
    margin: var(--space-3xs) auto var(--space-m);
    box-shadow: var(--box-shadow-sm);
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--flexoki-200);
    justify-content: center;
    padding: var(--space-s) var(--space-m);
    grid-column: 1/4 !important;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 100%;
    color: var(--flexoki-800);
    transition: all 0.3s ease-in-out;
  }

  .link-card img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .link-card span {
    font-family: var(--font-sans);
    font-size: calc(var(--font-size-base) * 0.9);
    margin: var(--space-3xs) 0;
    color: var(--flexoki-600);
  }

  .link-card h3 {
    transition: all 0.3s ease-in-out;
    color: var(--flexoki-800);
    font-family: var(--font-body);
    margin: var(--space-3xs) 0;
    line-height: var(--leading-snug);
    font-size: calc(var(--font-size-md) * 0.85);
  }

  .link-card:hover {
    box-shadow: var(--box-shadow-lg);
  }

  .link-card:hover h3 {
    color: var(--flexoki-magenta-600);
  }
</style>
