---
interface Props {
	src: string;
	alt: string;
	width?: string | number;
	class?: string;
	framed?: boolean;
	showalt?: boolean;
	sourceUrl?: string;
	sourceTitle?: string;
	margin?: string;
}

const {
	src,
	alt = "",
	width = 1100,
	class: className,
	framed = false,
	showalt = false,
	sourceUrl,
	sourceTitle,
	margin,
} = Astro.props;

const widthWithUnit = typeof width === "number" ? `${width}px` : width;
---

<figure
	class:list={["container", className, { framed }]}
	style={`margin: ${margin || ""}`}
>
	<div
		class:list={["image-wrapper", { "image-frame": framed }]}
		style={`width: ${widthWithUnit}`}
	>
		<img src={src} alt={alt} loading="lazy" />
	</div>
	{
		showalt &&
			(sourceUrl ? (
				<figcaption>
					{alt} – Source: <a href={sourceUrl}>{sourceTitle}</a>
				</figcaption>
			) : (
				<figcaption>{alt}</figcaption>
			))
	}
</figure>

<style>
	.container {
		grid-column: 1 / 4 !important;
		text-align: center;
		margin: var(--space-s) auto var(--space-l);
	}

	.image-wrapper {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: 100%;
	}

	.image-frame {
		border: 1px solid var(--flexoki-200);
		border-radius: var(--border-radius-base);
		box-shadow: var(--box-shadow-lg);
		margin-bottom: var(--space-xs);
	}

	img {
		height: auto;
		display: block;
		border-radius: var(--border-radius-sm);
		width: 100%;
		max-width: 100%;
	}

	figcaption {
		font-family: var(--font-sans);
		font-size: var(--font-size-sm);
		color: var(--flexoki-600);
		line-height: 1.5;
		width: 100%;
		max-width: 800px;
		margin: var(--space-s) auto 0;
	}

	@media (max-width: 768px) {
		.container {
			margin: var(--space-s) auto;
		}

		.image-wrapper {
			width: 100% !important;
		}
	}
</style>
