---
import { Image } from "astro:assets";

const { url, title, author, image, small } = Astro.props;
---

<div class:list={["book-card", { small }]}>
	<div
		style={{
			height: small ? "228px" : "319px",
			width: small ? "158px" : "220px",
			flexShrink: 0,
			boxShadow: "var(--box-shadow-lg)",
		}}
	>
		<Image
			width={small ? 158 : 220}
			height={small ? 228 : 319}
			alt={title}
			src={image}
			style={{
				borderRadius: "var(--border-radius-sm)",
			}}
		/>
	</div>
	<div class="metadata">
		<a href={url}>
			<h3>{title}</h3>
		</a>
		<span>{author}</span>
		<svg width="40" height="3">
			<rect width="40" height="3" fill="var(--flexoki-300)"></rect>
		</svg>
		<div class="description">
			<slot />
		</div>
	</div>
</div>

<style>
	.book-card {
		margin: var(--space-xs) auto var(--space-l);
		border-radius: var(--border-radius-lg);
		display: flex;
		flex-direction: row;
		flex-shrink: 1;
		justify-content: center;
		gap: var(--space-l);
		height: content-min;
		cursor: pointer;
		align-items: inherit;
	}

	.book-card.small {
		align-items: center;
	}

	.book-card img {
		border-radius: var(--border-radius-sm);
	}

	@media (max-width: 768px) {
		.book-card {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: var(--space-m);
			height: content-min;
			text-align: center;
		}
	}

	.metadata {
		display: flex;
		flex-direction: column;
		flex-shrink: 1;
		width: 34ch;
	}

	@media (max-width: 768px) {
		.metadata {
			width: 100%;
			max-width: 36ch;
			align-items: center;
		}
	}

	.metadata h3,
	.metadata p,
	.metadata span {
		margin: 0;
		font-family: var(--font-body);
	}

	.metadata span {
		color: var(--flexoki-600);
		font-size: var(--font-size-base);
	}

	.metadata h3 {
		font-family: var(--font-body);
		font-size: var(--font-size-md);
		margin-bottom: var(--space-2xs);
		color: var(--flexoki-800);
		transition: all 0.2s ease-in-out;
		line-height: var(--leading-tight);
		flex-shrink: 1;
	}

	:global(.book-card .description p) {
		font-family: var(--font-sans);
		font-size: var(--font-size-sm);
		line-height: var(--leading-loose);
		color: var(--flexoki-800);
		flex-shrink: 1;
		margin: 0;
	}

	.metadata svg {
		height: 3px;
		margin: var(--space-s) 0;
		fill: var(--flexoki-300);
	}

	@media (max-width: 768px) {
		.metadata .divider {
			margin: var(--space-s) auto;
		}
	}

	.metadata a:hover h3 {
		color: var(--flexoki-magenta-600);
	}
</style>
